* {
    margin: 0;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Oswald:wght@700&display=swap');

@font-face {
    font-family: Helvetica;
    src: url(helvetica/NewHelvetica-Regular.otf);
}

@font-face {
    font-family: Antigoni;
    src: url(Antigoni/antigonilight.ttf);
}

/* applied to all pages */

body {
    background-color: #6495ed;
}

/* header */
nav {
    background: -webkit-linear-gradient(left, #aee4f6, #87cefa, #00bfff, #1e90ff, #4169e1);
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    height: 12vh;
    z-index: 5;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    text-align: center;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafaf3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.a {
    height: 5vh;
    width: 8vw;
}

.a a{
    font-size: 15px;
    color: #00008b;
}

nav p {
    margin-right: 55vw;
    font-size: 5vh;
    color: #00008b;
}

nav p span {color: #fafaf3;}

.dropdown:hover .dropdown-content {
    display: block;
}

.a:hover {
    background-color: #fafaf3;
}

nav a{text-decoration: none; color: #fafaf3;}

#nav {color: #fafaf3; font-size: larger;}

/* page 1 - banner */
.bannertitle {
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color: #fafaf3;
    font-size: 70px;
    text-align: center;
    padding-top: 30vh;
}

#video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index:-1; 
}

/* page 1 - background */

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.1em;
    /*display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 0.1fr;
    column-gap: 5px;
    padding: 1em; */
}

#picbg {
    padding: 3em;
    animation-name: intro;
    animation-duration: 2s;
    animation-iteration-count: infinite; /* loop */
    /*padding-right: 20px;
    display: flex;
    justify-content: right;*/
}

#txtbg {
     font-size: x-large;
    padding-left: 20px;
    /* display: flex;
    justify-content: left;*/
    font-family: Helvetica;
}

/* page 1 - achievements */

#achieve{
    font-size: x-large;
    padding: 2em;
    font-family: 'Antigoni', sans-serif;
}

/* page 2 - initiatives */
#initiatives {
    background: url(media/dive.jpeg);
    width: 200vw;
    height: 200vh;
    background-size: 50%;
}

.titleinitiatives {
    text-align: center;
    background-color: #120966;
    color: rgb(13, 155, 238);
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    padding: 0.5em;
    font-family: Horizon;
    font-size: xx-large;
    margin-left: 10px;
}

.txtinitiatives {
    font-family: oswald ; 
    color: rgb(87, 170, 238); 
    font-size: 5vh;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 40vw;
}

/* page 2 - involvement */
.involvement {
    display: flex;
    align-items: center;
}

.titleinvolvement {
    text-align: center;
    background-color: #120966;
    color: rgb(13, 155, 238);
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
    padding: 0.5em;
    font-family: oswald;
    font-size: xx-large;
    margin-left: 2vw;
    margin-top: 3vh;
}

.picinvolvement {
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
}

.picinvolvement img {box-shadow: 2px 1px 10px rgb(26, 4, 105);}

.txtinvolvement {
    font-family:Dosis;
    font-size: x-large;
    color:#120966;
    display: flex;
    justify-content: flex-start;
    padding: 1.5em;
}

/* page 2 - activities */

.activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3vh;
}

#picact img {box-shadow: 2px 1px 10px black;}
#picact {padding-left: 3vw;}

#txtact {
    text-align: right;
    font-size: large;
    font-family: Dosis;
    display: flex;
    align-content: center;
    padding-right: 3vw;
    padding-left: 5vw;
}

/* page 3 - who we are */

#who {
    background-image: url(media/whoback.png);
    background-size: 75%;
    height: 100vh;
    background-position-y: 0.1vh;
    background-position-x: 12vw;
}

#whotitle {font-family: Oswald; text-align: center; font-size: xx-large;
    padding-top: 20vh; color:#f5dd90;
}

#whotxt {font-family: Dosis ; text-align: center; font-size: 4vh; color:#f5dd90;
    padding-right: 10em;
    padding-left: 10em;
    padding-top: 10vh;
}

/* page 3 - mission & vision */
/*.v_line {
    border-left: 1px solid rgb(0, 0, 0);
    height: 500px;
    margin: 0 auto;
    width: 2px;
} */

.ms {font-family: Oswald; font-size: x-large;}
#ms {font-family: Dosis; font-size: x-large;}

#mission {
    color:#120966;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5em;
    padding-right: 50em;
    padding-left: 2em;
}

#vision {
    color:#120966;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 50em;
}

#vision .ms {padding-top: 2em; text-align: center;}
#mission .ms {padding-top: 2em; text-align: center;}

/* page 3 - how to help */

#be {font-family: Oswald; font-size: xx-large; text-align: center; padding-top: 2vh;}
#our {color:#00008b;}
#oceans {color: #120966;}
#email {text-decoration: underline;}

.contact {
    font-family: Dosis;
    font-size: x-large;
    padding-left: 2vw;
}

#partner {color: #120966;}
#contribute {color: #120966;}
#volunteer {color: #120966;}

/* footer */

footer {
    background: -webkit-linear-gradient(left, #aee4f6, #87cefa, #00bfff, #1e90ff, #4169e1);
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13vh;
    z-index: 5;
}

footer p {margin-right: 60vw;}

.icon {
    background: url(media/sprite3\ \(1\).png) no-repeat;
	width: 66px;
	height: 66px;
    margin-right: 10px;
}

#facebook {background-position: -439px -146px;;}
#twitter {background-position: -66px -72px;}
#insta {background-position: -216px -221px;}

@media screen and (max-width: 600px) {
    .background { /*scroll down */
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@keyframes intro {
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}