* {
    margin: 0;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather:300;&display=swap");




body {
    background-image: url(media/75b0d4_1bf48382b3fa4711a1bf08fde89662be.jpg.webp);
    background-color:#ea8c55;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    margin: 0; 
    padding: 0; 
    height: 100vh;  
}


/* header */
nav {
    background: -webkit-linear-gradient(left, #c36806, #faf147, #f7d35b, #e59b56, #e38901);
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    height: 12vh;
    z-index: 5;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    text-align: center;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafaf3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.a {
    height: 5vh;
    width: 8vw;
}

.a a{
    font-size: 15px;
    color: #8b2500;
}

nav p {
    margin-right: 55vw;
    font-size: 5vh;
    color: #c36806;
}

nav p span {color: #fafaf3;}

.dropdown:hover .dropdown-content {
    display: block;
}

.a:hover {
    background-color: #fafaf3;
}

nav a{text-decoration: none; color: #fafaf3;}

#nav {color: #fafaf3; font-size: larger;}




/* page 3 - mission */

.titlemission {
    text-align: center;
    color: white;
    width: 20vw;
    height: 5vh;
    padding: 1em;
    font-family: 'Anton', 'serif';
    font-size: xx-large;
    margin-left: 10px;
}

.txtmission{
    font-family: 'Merriweather', sans-serif; 
    color: #ffffff; 
    font-size: 3vh;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 40vw;
}

.imgss{
    padding-left: 95vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
   

    
}

/*page 3 - vision - */
.titlevision {
    text-align: center;
    color: white;
    width: 20vw;
    height: 5vh;
    padding: 1em;
    font-family: 'Anton', 'serif';
    font-size: xx-large;
    margin-left: 10px;
}

.txtvision{
    font-family: 'Merriweather', sans-serif; 
    color: white; 
    font-size: 3vh;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 40vw;
}


/* footer */

footer {
    background: -webkit-linear-gradient(left, #f9e8ab, #faf147, #f7d35b, #e59b56, #e38901);
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13vh;
    z-index: 5;
}

footer p {margin-right: 60vw;}


.icon {
    background: url(media/sprite3.png) no-repeat;
	width: 66px;
	height: 66px;
    margin-right: 10px;
}



@media screen and (max-width: 600px) {
    .background { /*scroll down */
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@keyframes picbg{
    0% {transform: scale(75%);}
    50%{transform:scale(150%);}
    100%{transform:scale(75%);}
}